@use './mixins' as mixins;
@use './variables' as vars;

* {
    box-sizing: border-box;
    margin: 0;
}

.hidden {
    display: none;
}

#App {
    color: vars.$white;

    // Tablet view
    @media (min-width: 768px) {
        @include mixins.background-image('assets/home/background-home-tablet.jpg');
    }

    // Desktop view
    @media (min-width: 1024px) {
        @include mixins.background-image('assets/home/background-home-desktop.jpg');
    }
}