@use './mixins' as mixins;
@use './variables' as vars;

* {
    box-sizing: border-box;
    margin: 0;
}

.hidden {
    display: none;
}

#App {
    color: vars.$white;
}

.step__title {
    @include mixins.flex-row(start, start, 24px)
}

.step__number {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2.4px;
    color: vars.$white;
    opacity: 25%;
}