@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

.text-1 {
    font-family: 'Bellefair', serif;
    font-size: 144px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-6 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 0px;
}

.text-7 {
    font-family: 'Barlow Condensed', serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2px;
}

.text-8 {
    font-family: 'Barlow Condensed', serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2px;
}

.text-9 {
    font-family: 'Barlow', serif;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 2px;
}

.bold {
    font-weight: bold;
}