@use 'variables' as vars;

.text-1 {
    font-family: 'Bellefair', serif;
    font-size: 80px;
    line-height: normal;
    letter-spacing: 0px;

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 144px;
    }
}

.text-2 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    line-height: normal;
    letter-spacing: 0px;

    // Tablet view
    @media (min-width: 768px) {
        font-size: 80px;
    }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 100px;
    }
}

.text-3 {
    font-family: 'Bellefair', serif;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0px;

    // Tablet view
    @media (min-width: 768px) {
        font-size: 40px;
    }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 56px;
    }
}

.text-4 {
    font-family: 'Bellefair', serif;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;

    // Tablet view
    @media (min-width: 768px) {
        font-size: 24px;
    }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 32px;
    }
}

.text-5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 4px;

    // // Tablet view
    // @media (min-width: 768px) {
    //     font-size: 20px;
    // }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 32px;
    }
}

.text-6 {
    font-family: 'Barlow Condensed', serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2.4px;

    // // Tablet view
    // @media (min-width: 768px) {
    //     font-size: 20px;
    // }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 28px;
        letter-spacing: 0px;
    }
}

.text-6-desktop {
    font-family: 'Bellefair', serif;
    line-height: normal;
    font-size: 28px;
    letter-spacing: 0px;
}

.text-7 {
    font-family: 'Barlow Condensed', serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2px;
}

.text-8 {
    font-family: 'Barlow Condensed', serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.1px;

    // // Tablet view
    // @media (min-width: 768px) {
    //     font-size: 20px;
    // }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 16px;
        letter-spacing: 2px;
    }
}

.text-9 {
    font-family: 'Barlow', serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0px;

    // Tablet view
    @media (min-width: 768px) {
        font-size: 16px;
    }

    // Desktop view
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-blue-900 {
    color: vars.$blue-900;
}

.text-blue-300 {
    color: vars.$blue-300;
}

.text-half-white {
    color: vars.$half-white;
}