@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.container {
    @include mixins.flex-column(center, start, 0);
    margin: 24px 24px 0 24px;
    height: calc(100dvh - 88px - 24px); // 88px header height, 24px margin of this container
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        height: 100%;
        padding: 128px 40px;
    }

    @media screen and (min-width: 1024px) {
        @include mixins.flex-row(center, space-between, 0);
        margin: 128px 165px;
        padding: 0;
    }
}

.hero__texts {
    @include mixins.flex-column(center, start, 24px);

    @media screen and (min-width: 768px) {
        height: 100%;
        padding: 0 88px;
    }

    @media screen and (min-width: 1024px) {
        padding: 0;
        max-width: 540px;
        align-items: start;
    }
}

.hero__btn {
    margin: auto;
    padding: 119px 0;

    @media screen and (min-width: 768px) {
        padding: 66px 0;
    }

    @media screen and (min-width: 1024px) {
        padding: 0;
        margin: 0;
    }
}

.btn {
    border-radius: 100%;
    background-color: vars.$white;
    color: vars.$blue-900;
    width: 144px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        width: 272px;
        height: 272px;
    }
}

.btn:hover {
    cursor: pointer;
    outline: 88px solid vars.$white-10;
}