@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.container {
    @include mixins.flex-column(center);
    height: 100%;
    
    @media screen and (min-width: 768px) {
        @include mixins.flex-column(start);
    }

    @media screen and (min-width: 1024px) {
        width: fit-content;
        margin-left: auto;
    }
}

.technology__container {
    @media screen and (min-width: 1024px) {
        @include mixins.flex-row(center, start, 32px);
        width: fit-content;
    }
}

.step_cotainer {
    margin: 24px;

    @media screen and (min-width: 768px) {
        margin: 40px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
    }
}

.technology__img {
    width: 100%;
    height: 258px;
    object-fit: cover;
    margin: 64px 0 32px 0;

    @media screen and (min-width: 768px) {
        height: 357px;
        margin-top: 44px;
    }

    @media screen and (min-width: 1024px) {
        order: 1;
        width: 600px;
        height: 600px;
        aspect-ratio: 1/1;
        margin: 0;
    }
}

.technology__tabs {
    @include mixins.flex-row(center, center, 16px);

    @media screen and (min-width: 1024px) {
        flex-direction: column;
        gap: 32px;
    }
}

.technology__tab_item {
    @include mixins.flex-row(center, center);
    color: vars.$white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid vars.$quarter-white;

    @media screen and (min-width: 768px) {
        width: 56px;
        height: 56px;
    }

    @media screen and (min-width: 1024px) {
        width: 80px;
        height: 80px;
    }
}

.technology__tab_item.active {
    color: vars.$blue-900;
    background-color: vars.$white;
    border: none;
}

.technology__details {
    @include mixins.flex-column(center, center, 40px);

    margin: 0 24px;

    @media screen and (min-width: 768px){
        padding: 0 88px;
    }

    @media screen and (min-width: 1024px) {
        @include mixins.flex-row(start, start, 64px);
        order: 0;
        margin: 0;
        padding: 0;
    }
}

.technology__title{
    @include mixins.flex-column(center, center, 16px);

    @media screen and (min-width: 1024px) {
        align-items: start;
    }
}

.technology__info{
    @include mixins.flex-column(center, center, 16px);

    padding-bottom: 48px;

    @media screen and (min-width: 1024px) {
        max-width: 491px;
        align-items: start;
    }
}