@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

$transition: all 0.15s ease-out;

div {
    transition: $transition;
    opacity: 1;
}

.fade-out {
    opacity: 0; /* Fades out the image */
    // transform: scale(0.95); /* Optional: Add a shrinking effect */
}

.fade-in {
    opacity: 1; /* Fades in the new image */
    // transform: scale(1); /* Restores the scale */
}

.container {
    @include mixins.flex-column(center, start, 0);
    margin: 24px;

    @media screen and (min-width: 768px) {
        align-items: start;
        padding: 40px;
    }

    @media screen and (min-width: 1024px) {
        margin: auto;
        padding: 48px 0;
        width: fit-content;
        gap: 0;
    }
}

.destination__details {
    @include mixins.flex-column(center);

    @media screen and (min-width: 768px) {
        padding: 11.5px 87px;
    }

    @media screen and (min-width: 1024px) {
        @include mixins.flex-row(start, start, 32px);
        padding: 127px none;
    }
}

.destination__img {
    width: 150px;
    height: 150px;
    margin: 26.5px 0;

    transition: $transition;
    opacity: 1;

    @media screen and (min-width: 768px) {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    @media screen and (min-width: 1024px) {
        width: 480px;
        height: 480px;
        margin: 0;
    }

    &.fade-out {
        opacity: 0; /* Fades out the image */
        // transform: scale(0.95); /* Optional: Add a shrinking effect */
    }
    
    &.fade-in {
        opacity: 1; /* Fades in the new image */
        // transform: scale(1); /* Restores the scale */
    }
}

.destination__info {
    @include mixins.flex-column(center, center, 24px);

    @media screen and (min-width: 1024px) {
        max-width: 539px;
        align-items: start;
    }
}

.destination__tabs {
    @include mixins.flex-row(start, center, 32px);
}

.destination__tab_item {
    @include mixins.flex-column(center, center, 8px);
}

.destination__tab_item:not(.active):hover {
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 3px solid vars.$half-white;
}

.destination__tab_line {
    width: 100%;
    height: 3px;               
    background-color: vars.$white;
    display: none;
}

.destination__tab_line.active {
    display: block
}

.destination__stats {
    @include mixins.flex-column(center, center, 24px);

    @media screen and (min-width: 768px) {
        @include mixins.flex-row(center, center, 24px);
    }

    @media screen and (min-width: 1024px) {
        justify-content: start;
    }
}

.destination__stat_item {
    @include mixins.flex-column(center, center, 12px);

    @media screen and (min-width: 768px) {
        min-width: 245px;
    }

    @media screen and (min-width: 1024px) {
        align-items: start;
        gap: 24px;
    }
}

.divider {
    width: 100%;
    height: 1px;               
    background-color: vars.$white;     
    opacity: 25%;
}

